@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

body {
  overflow-x: hidden;
  font-family: 'Lato', sans-serif;
  color: #000000;
}

* {
    box-sizing: border-box;
}

input[type=text], input[type=file], select, textarea {
    width: 100%;
    padding: 12px;
    border: none;
    resize: vertical;
}
  
label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}
  
input[type=submit] {
    background-color: rgb(255, 193, 7); 
    color: black;
    padding: 12px 20px;
    border: 1px solid  rgb(255, 193, 7);
    border-radius: 4px;
    cursor: pointer;
    float: right;
    text-align: center;
    margin-left: 970px;
}
  
input[type=submit]:hover {
    background-color: white;
}
  
.container {
    margin-top: 50px;
    border-radius: 5px;
    padding: 20px;
}
  
.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}
  
.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}
  

@media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
}
.button {
  padding: 12px 15px;
  line-height: 30px;
  margin: 8px 0;
  border: 1px solid rgb(255, 193, 7);
  cursor: pointer;
  width: 100%;
  text-align: center;
}
