* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    box-sizing: border-box;
}

body {
    background-image: url('images/background.png');
    width: 100%;
    margin: 0;
    padding: 0;
}
h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 24pt;
    text-align: center;
    text-shadow: 3px 3px #999999;
    font-weight: bold;
}
.zeleni_baner {
    background-image: url('images/rbg.png');
    margin-bottom: 1rem;
    background-repeat: repeat-x;
    
}
.per {
    font-size: 48pt;
    color: red;
    font-weight: bold;
    position: relative;
    top: -14px;
}
.kom{
    font-family: Georgia, 'Times New Roman', Times, serif !important;
    font-size: 13pt !important;
}
.quotebubble {
    font-family: Georgia, 'Times New Roman', Times, serif !important;
    font-size: 13pt !important;
    width: 90%;
    background-color: #ffffff;
    border-color: #cccccc;
    border-style: solid;
    border-width: 2px;
    border-radius: 12px;
    padding: 1rem;
    align-self: center;
    margin: auto;
}

.flex-container {
    display: flex;
    background-color:#EEEEEE;
    margin:auto;
    max-width: 55%;
    box-shadow: 5px 5px 5px #999999;
}

.kritike {
    flex-direction: column;
    display: flex;
}
.cr {
    font-size: 13pt;
    
}
.kriticar {
    padding: 5px;
}
img.kriticar {
    margin-right: 5px;
    margin-left: 35px;
    float: left;

}
.komentar {
    padding-right: 5px;
}
img.komentar {
    margin-right: 5px;
}

span.publication {
    font-size: 13pt;
    font-style: italic;
}
.clmn2 {
    background-color: #A2B964;
    width: 200px;
    vertical-align: top;
}
dl {
    padding-left: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 12pt;
    
}
dt {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    font-weight: bold;
    /*padding-top: 15px;*/
}
dd {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    font-weight: bold;
    padding-bottom: 15px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
footer {
    text-align: center;
    padding: 0.5em;
    background-color: #A2B964;
    max-width: 55%;
    position: relative;
    margin: auto;
}

#w3c {
  right: 0px;
  position: absolute;
}
